<h1>Notifications</h1>

<% if current_user.role == "parent" %>
	<h2>Report Notifications</h2>

	<% @report_notifications.each do |notification| %>
		<% if notification.goal_id %>
			<% if User.find(Goal.find(notification.goal_id).kid_id).parent_id == current_user.id %>
				<%= notification.amount %> <%= Goal.find(notification.goal_id).unit %> toward <%= Goal.find(notification.goal_id).title %> -- <%= link_to "Approve", report_path(notification.id), method: "put" %><br>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<h2>Friend Requests</h2>

<% @friend_request_notifications.each do |notification| %>
	<% if notification.receiver_id %>
		<% if notification.receiver_id == current_user.id  %>
			<%= "#{User.find(notification.requester_id).name} has sent you a friend request!" %>
			<%= link_to "Accept", "/friendships/#{notification.id}/accept_friend"  %>
		<% end %>
	<% end %>
<% end %>


<h2>Prizes Won</h2>

<% @prizes_notifications.each do |notification| %>
	<% if notification.kid_id %>
		<% if current_user.role == "parent" && notification.status == 0%>
			<% if User.find(notification.kid_id).parent_id == current_user.id %>
				<%= "#{User.find(notification.kid_id).name} has completed #{notification.title}." %><br>
			<% end %>
		<% elsif current_user.role == "kid" %>
			<% if User.find(notification.kid_id).id == current_user.id %>
				<%= "You completed #{notification.title}!" %>
				<%= link_to "Prize Received", "/notifications/#{notification.id}/received_prize" %><br>
			<% end %>
		<% end %>
	<% end %>
<% end %>


