<h1><%= @user.name %></h1>


<%= image_tag @user.avatar, class: "avatar" %>

<% if current_user.role == "parent" && @user.role == "kid" %>
	<% if @user.parent_id != current_user.id %>
		<%= link_to "Add Kid", "/users/#{params[:id]}/add_kid", class: "btn btn-primary btn-embossed" %> 
	<% elsif current_user.id == @user.parent_id %>
		<h4>Your kid</h4>
	<% else %>
		<h4><%= @user.role.capitalize %></h4>
	<% end %>
<% end %>

<div class="container">

	<p>Username:  <b><%= @user.username %></b></p>
	

	<% if @user.role == "kid" %>
		<p>Age: <b><%= @user.age %></b></p>
	<% end %>

	<p>Bio:</p>
	<%= @user.bio %>


	<p>Email:  <%= link_to "#{@user.email}", "mailto:#{@user.email}" %></p><br>
	
	<br>

	<% if @user.id != current_user.id && @user.role == current_user.role %>
		<% unless @user.receivers.include?(current_user) || current_user.receivers.include?(@user)%>
			<%= link_to "Add as Friend", "/friendships?receiver_id=#{params[:id]}", :method => "post" %>
		<% end %>
	<% end %>
 

	<% if (current_user.name == @user.name) %>
		<%= link_to "Edit Profile", edit_user_path, :class => "btn btn-embossed btn-primary" %><br>
	<% end %>
</div>
