<h1><%= @user.name %></h1>

<img src="http://placekitten.com/200/200" class="avatar">


<% if current_user.role == "parent" && @user.role == "kid" && @user.parent_id = nil %>
	<%= link_to "Add Kid", "/users/#{params[:id]}/add_kid", class: "btn btn-primary btn-embossed" %> 
<% elsif current_user.id == @user.parent_id %>
	<h4>Your kid</h4>
<% else %>
	<h4><%= @user.role.capitalize %></h4>
<% end %>

<div class="container">
	

	<p>Username:  <b><%= @user.username %></b></p>
	<p>Neighborhood: </p>

	<% if @user.role == "kid" %>
		<p>Age: <b><%= @user.age %></b></p>
	<% end %>

	<p>Bio:</p>
	<%= @user.bio %>


	<p>Email:  <%= link_to "#{@user.email}", "mailto:#{@user.email}" %></p><br>
	
	<!-- <%= "Parent Id: #{@user.parent_id}" %><br><br> -->
	
	
	
	<br>
	
	<% if (current_user.name == @user.name) %>
		<%= link_to "Edit Profile", edit_user_path, :class => "btn btn-embossed btn-primary" %><br>
	<% end %>
</div>
