<h1>USER PAGE</h1>

<%= @user.name %><br>
<%= @user.email %>

<% if current_user.role == "parent" && @user.role == "kid" %>
	<%= link_to "Add as Your Kid", '/users', {:parent_id => current_user.id, :action => "add_kid"} %>
<% end %>


<br><br>

<%= link_to "Edit This User", edit_user_path %><br>
<%= link_to "Back to Goals Page", goals_path %>