<div class="slide1">
	<%= image_tag("full_logo3.png", :class => "text-center") %><br>	
        <% if !current_user %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary btn-hg btn-embossed", id: "signup" %><br><br>
        <% else %>
            <br><br>
        <% end %>

    <p id="mission">A family-friendly, goal-based social platform that motivates kids to get out from behind the screen.</p>
    <br><br>

    <p>scroll down</p>
</div>

<div class="slide2">
    <%= image_tag('baby.jpg') %>
</div>

<div class="slide3">
    <%= image_tag('playingoutside.jpg') %>
</div>

<div class="slide4">
    <%= image_tag('motivate.jpg') %>
</div>

<div class="slide5">
    <%= image_tag('withipad.jpg') %>
</div>

<div class="slide6">
    <%= image_tag('boyhomework.jpg') %>
    <div class="signupbutton">
    <%= link_to "Sign up now", new_registration_path(resource_name), class: "btn btn-primary btn-hg btn-embossed", id: "signup2" %>
    </div>
</div>





