<style>
    body {
        background-color: #9B59B6;
    }

    .container {
        width: 100%;
        height: 100%;
    }


    .slide1 > img {
        width: 900px;
        margin-left: 18%;
        margin-top: 38px;

    }

    .slide1 { 
        position: fixed;
        z-index: 1;  /* sets it below the other slides in the layer stack */
        height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    #mission {
       color: white;
        margin-left: 10%;
        font-weight: 700;
        font-size: 25px; 
    }
    .slide1 > p {
        color: #502861;
        margin-left: 40%;
        font-weight: 700;
        font-size: 25px; 
    }

    .slide2 {
        position: relative;
        z-index: 2;  /* sets it above .slide1  */
        margin-top: 55%; /* this pushes it below .slide1 in the scroll */
        height: 95% /* full length slides */
    }

    .slide2 > img {
        width: 100%;
    }

    .slide3 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide3 > img {
        width: 100%;
    }

    #signup {
        width: 250px;
        margin-left: 36%;
       
    }

    .slide4 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide4 > img {
        width: 100%;
    }

    .slide5 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide5 > img {
        width: 100%;
    }

    .slide6 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide6 > img {
        width: 100%;
    }

    #signup2 {
        width: 250px;
    }
    
    .signupbutton {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 380px;
    left: 840px;
    z-index: 10;
}

</style>

<div class="slide1">
	<%= image_tag("full_logo3.png", :class => "text-center") %><br>	
        <% if !current_user %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary btn-hg btn-embossed", id: "signup" %><br><br>
        <% else %>
            <br><br>
        <% end %>

    <p id="mission">A family-friendly, goal-based social platform that motivates kids to get out from behind the screen.</p>
    <br><br>

    <p>scroll down</p>
</div>

<div class="slide2">
    <%= image_tag('baby.jpg') %>
</div>

<div class="slide3">
    <%= image_tag('playingoutside.jpg') %>
</div>

<div class="slide4">
    <%= image_tag('motivate.jpg') %>
</div>

<div class="slide5">
    <%= image_tag('withipad.jpg') %>
</div>

<div class="slide6">
    <%= image_tag('boyhomework.jpg') %>
    <div class="signupbutton">
    <%= link_to "Sign up now", new_registration_path(resource_name), class: "btn btn-primary btn-hg btn-embossed", id: "signup2" %>
    </div>
</div>





