<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"%></div>
<div><%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"%></div>
<% if devise_mapping.rememberable? -%>
<label class="checkbox" for="checkbox1">
	<input type="checkbox" value="remember_me" id="checkbox1" data-toggle="checkbox">
	Remember me
</label>

<% end -%>
<div><%= f.submit "Log in", url: goals_path, class: "btn btn-primary btn-lg btn-embossed" %></div>

<% end %>
<br>
<%= render "devise/shared/links" %>