<h2>Goals</h2>

<% if current_user.role == "parent" %>
		<%= link_to "Create a New Goal", "goals/new" , :class => "btn btn-primary btn-embossed"%>
<% end %>
<br>
<br>

<% collapse_count = 1 %>

<% @goals.each do |goal| %>
	<% if current_user.role == "kid" && goal.kid_id == current_user.id %>
				
		<div class="panel-group" id="accordion">
	  		<div class="panel panel-default">
	    		<div class="panel-heading">
	      			<h4 class="panel-title">  
				        <a data-toggle="collapse" data-parent="#accordion" href=<%= "#collapse#{collapse_count}" %>>
				          	<span style="font-size: 25px; font-weight: bold;"><%= "#{goal.title}"%></span>
				          	<!-- Submit new report modal goes here -->	          		
				          	<%= link_to "reports/new?report_goal_id=#{goal.id}" do %>
								<button type="button" class="btn btn-primary btn-embossed btn-xs" id="btn-add"><span class="fui-plus"></span></button>
				          	<% end %>						
				        </a>
				     </h4>
				</div>
	    		<div id= <%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
			      <div class="panel-body">
			        <% if goal.status == 0 %>
						<% goal_percent = ((goal.progress.to_f/goal.target.to_f).to_f * 100).round(2) %>
						<%= "Goal is #{goal_percent}% complete!"%> <em><%= "#{goal.progress} out of #{goal.target} #{goal.unit} done." %></em><br><br>
						<div class="progress">
							<div class="progress-bar" style="width: <%= goal_percent %>%;"></div>
						</div>
						<%= "Description: #{goal.description}" %><br>
						<b><%= "Prize is #{goal.prize}!" %></b><br>
						<!-- Submit new report modal here also -->

						<button class="btn btn-primary btn-embossed" data-toggle="modal" data-target="#reportmodal">Make Report</button>
						
						


						<%= link_to "Make Report", "reports/new?report_goal_id=#{goal.id}", class: "btn btn-primary btn-embossed" %>
					<% else %>
						<%= "Goal is complete!" %>
					<% end %>
			      </div>
	    		</div>
	  		</div> 
		</div>

	<% elsif current_user.role == "parent" %>
		<% current_user.kids.pluck(:id).each do |id| %>
			<% if goal.kid_id == id %>	
				<div class="panel-group" id="accordion">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href= <%= "#collapse#{collapse_count}" %> >			        	
							<span style="font-size: 25px; font-weight: bold;"><%= "#{goal.title}  " %></span><em><%= "- #{User.find(goal.kid_id).name}"%></em>				
				        </a>
				      </h4>
				    </div>
				    <div id= <%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
				      <div class="panel-body">
				        <% if goal.status == 0 %>
							<% goal_percent = ((goal.progress.to_f/goal.target.to_f).to_f * 100).round(2) %>
							<%= "Goal is #{goal_percent}% complete!"%> <em><%= "#{goal.progress} out of #{goal.target} #{goal.unit} done." %></em><br><br>
							<div class="progress">
								<div class="progress-bar" style="width: <%= goal_percent %>%;"></div>
							</div>
							<%= "Description: #{goal.description}" %><br>
							<b><%= "Prize is #{goal.prize}!" %></b><br>
							<span class="miniwords"><%= link_to "#{User.find(goal.kid_id).name}'s profile", "/users/#{goal.kid_id}" %></span><br>
							<%= link_to "Edit Goal", edit_goal_path(goal.id), class: "btn btn-primary btn-embossed btn-xs" %>
						<% else %>
							<%= "Goal is complete!" %>
						<% end %>
				      </div>
				    </div>
				  </div> 
				</div>		
			<% end %>
		<% end %>
	<% end %>
	<% collapse_count += 1 %>
<% end %>









                
             

