<h1>New Goal Page</h1>

<% if @goal.errors.any? %>
	<div class="errors">
		<ul>	
			<%@goal.errors.full_messages.each do |message| %>
				<li><%=message%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<%= form_for(@goal, :url => '/goals') do |f| %>
	
	<%= f.select :kid_id, @kid_names %> 


<script>

$("select").selectpicker({style: 'btn btn-primary', menuStyle: 'dropdown-inverse'});

</script>

	<%= f.text_field :title, class: "form-control", placeholder: "Title" %>


	
	<%= f.text_field :description, class: "form-control", placeholder: "Description" %>



	
	<%= f.number_field :target, class: "form-control", placeholder: "Target amount" %>


	<%= f.select :unit, options_for_select(["minutes", "hours", "days", "times"], :id => "unit-select") %>
<script>

$("select").selectpicker({style: 'btn btn-primary', menuStyle: 'dropdown-inverse'});

</script>

	

	
	<%= f.text_field :prize, class: "form-control", placeholder: "Prize" %>


	<%= f.submit class: "btn btn-primary btn-embossed" %>
<% end %>

