<h1>New Report Page</h1>

<% if @report.errors.any? %>
	<div class="errors">
		<ul>	
			<%@report.errors.full_messages.each do |message| %>
				<li><%=message%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<%= form_for(@report, :url => '/reports') do |f| %>
	<%= f.label :amount %>
	<%= f.text_field :amount %>

	<%= f.hidden_field :goal_id, :value => params[:report_goal_id] %>

	<br><br>

	<%= f.submit %>
	
<% end %>
