<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<button class="btn btn-primary btn-embossed btn-xs" data-toggle="modal" data-target="#reportmodal" id="btn-add"><span class="fui-plus"></span></button>

<button class="btn btn-primary btn-embossed" data-toggle="modal" data-target="#reportmodal">Make Report</button>


<!-- Modal -->
<div class="modal fade" id="reportmodal" tabindex="-1" role="dialog" aria-labelledby="reportmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="reportmodalLabel">Add Progress</h4>
      </div>
      <div class="modal-body">
        
        <%= form_for(@report, :url => '/reports') do |f| %>

          <div id="report-fields">
            <div id="amount-field"><%= f.text_field :amount, class: "form-control", placeholder: "Amount" %></div>
            <div id="unit-field"><%= "  " + Goal.find(params[:report_goal_id]).unit %></div>
          </div>
          <%= f.hidden_field :goal_id, :value => params[:report_goal_id] %>
          <%= f.submit "Report my Progress", class: "btn btn-primary btn-embossed" %>

        <% end %>

      </div>
    </div>
  </div>
</div>