<!DOCTYPE html>
<html>
  <head>
    <title>Bopster</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    

    <%= csrf_meta_tags %>
  </head>
  <body>
    
    
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <%= link_to 'kazoo', root_path, class: "navbar-brand"%>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li><%= link_to 'my home', users_path %></li>
          <li><%= link_to 'goals', goals_path %></li>
          <li><a href="#">settings</a></li>
        </ul>

        <div class = "navbar-right">
          <% if user_signed_in? %>
            <button class="btn btn-default navbar-btn btn-xs" type="button">
              <%=link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "navbar-link"%>
            </button>
          <% else %>
            <button class="btn btn-default navbar-btn btn-xs" type="button">
              <%=link_to 'Sign In', new_user_session_path, class: "navbar-link" %>
            </button>
          <% end %>
        </div>


        <% if current_user %>
          <p class="navbar-text navbar-right">Signed in as 
            <%= link_to current_user.name, "/users/#{current_user.id}", class: "navbar-link" %>
          </p>
        <% end %>

        



      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group"  >
            <%= form_tag users_path, :method => 'GET' do  %>
              <%= text_field_tag 'q', params[:q], class: "form-control", id: "navbarInput-01", type: "search", placeholder: "Search" %>
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class='fui-search'></span></button>
              </span>
            <% end %>
          </div>
        </div>
      </form>

     

    
        </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
        


        <div class="container">
          <%= yield %>
          
          

          <div class="footer">
            
            
          </div>
        </div>


      </body>
    </html>
